.definition {
    background-color: bisque;
    border-color: aliceblue;
    color:rgb(16, 16, 90);
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    margin-bottom: 1em;
}

.example {
    background-color:aquamarine;
    color:brown;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}

.warn {
    background-color: rgb(34, 15, 15);
    font-weight: bolder;
    color: rgb(139, 221, 139);
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}


.contribution {
    background-color: rgb(139, 221, 139);
    font-weight: bolder;
    color:  rgb(34, 15, 15);
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}

th, th {
    font-size: inherit;
    overflow: visible;
    margin: 0.5em;
    padding: 0.5em 1em;
    border-width: 1px 1px 1px 1px;
    border-left: 1px solid #d49d9d;
}

h1 {
    font-weight: bold;
}

h2 {
    margin-top: 4em;
    padding-top: 3em;
    font-weight: bold;
}

h3 {
    margin-top: 3em;
    padding-top: 2em;
    font-weight: bold;
}